<div class="book">
  <h2>{{book.title}}</h2>
  <img class="{{if book.selected 'selected'}}" src="{{book.cover}}" alt="{{book.title}}" width="200" height="286"/>
  <div class="buttons">
    <button {{action 'remove' book}}>-</button>
    <button {{action 'add' book}}>+</button>
    <span>({{book.quantity}})</span>
  </div>
  <p class="price">{{book.price}}€</p>
</div>
